body {
    background-color: rgb(189, 166, 166);
    font-family: arial, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    font-size: 20px;
}

h4 {
    color: rgb(64, 64, 248);
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    color: black;
    line-height:0.5em;
}

nav {
    color: blue;
    font-size: 15px;
    font-family: arial, sans-serif;
}

fieldset {
    background-color: white;
}

Fieldset .menu {
    position:sticky;
}


a {
    color: rgb(64, 64, 248);
}

a:visited {
    color: rgb(64, 64, 248);
}

a:hover {
    color: rgb(189, 166, 166);
}

a:active {
    color: black;
}

.menu {
    text-align: center;

}
.plaatje {
    margin-top:-10px;
    margin-bottom: -50;

}
.text{ 
    float:left;
    margin-right:800px;
}
.hz-foto{ 
    float:right;
}